body {
    font-family: 'Arial', sans-serif;
    background-image: url("images/background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.video-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
}
.heading-container{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 330px;
}